@{
    ViewData["Title"] = "Home Page";
}


<div class="row">    
    <div class="col-md-12 container-quests">
        <h2>Welcome on our VO_Quest Site!</h2>
        <h4>Chose a quest and have fun!</h4>
    </div>    
</div>
